@use "./base/normalize";
@use "sass:math";

@use "./base/init";

.section-2 {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  // gap: 3vw;
  // margin: 30px;
  height: 100vh;
}

.left-column {
  align-self: end;
  // margin-bottom: 3vw;
  // border: 1px solid #000;

  // position: relative;
  // left: 10vw;

  // p:not(:last-child) {
  //   margin-bottom: 2vw;
  // }
}

.middle-column {
  border: 1px solid #000;
}

.img-wrapper {
  position: relative;
  height: 100%;

  &::before,
  &::after {
    content: "";
    height: 100%;
    width: 3px;
    background-color: gray;
    position: absolute;
    transform-origin: 0 0;
  }

  &::before {
    left: -2vw;
    top: 0.1vw;
    height: 90%;
    
    $angle: 100vh / 7;
    $angle: -70;
    // transform: rotate(-24deg);
    transform: rotate($angle+deg);
  }

  &::after {
    left: 74vw;
    top: 3vw;
    transform: rotate(90deg);
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // transform: translateX(-50%);
    object-fit: cover; // fill, contain, cover, none
    object-position: center center;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

}

.right-column {
  align-self: end;
  margin-bottom: 3vw;
  border: 1px solid #000;
  background-color: #deafaf;
  position: relative;
  left: -12px;

  // .right-column__title
  &__title {
    position: relative;
    font-size: 7vw;
    // right: 10px;
    // width: 50vw;
    left: -10vw;
    margin-bottom: 10vw;
    letter-spacing: 1vw;
    // border: 1px solid #000;
    // background-color: #afbede;

  }

  // .right-column__text
  &__text {
    position: relative;
    left: -10vw;

  }
}

// =====================================
.myinput {
  // цвета можно задать в отдельном модификаторе ----------
  $text-color: #5a5a5a;
  $border-color: #ccc;
  $bg-color: #555;

  &__field {
    border: 2px solid $border-color;
    color: $text-color;

    &:hover {
      border: 2px solid rgba(51, 51, 51, 0.5);
    }
  }

  &__label {
    color: $text-color;
  }

  &__field:focus~label,
  &__field:not(:placeholder-shown).myinput__field:not(:focus)~label {
    background-color: #fff;
  }

  // ------------------------------------------------------
  // .myinput__wrapper
  &__wrapper {
    position: relative;
    width: 90%;
    max-width: 20em;
    height: 2.5em;
  }

  // .myinput__input
  &__input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    outline: none;
    padding: 0px 10px 0px 10px;
  }

  // .myinput__label
  &__label {
    position: absolute;
    font-family: sans-serif;
    left: 1em;
    top: 0.75em;
    cursor: text;
    transition: top 0.2s ease-in, font-size 0.3s ease-in;
  }

  &__field:focus~label,
  &__field:not(:placeholder-shown).myinput__field:not(:focus)~label {
    top: -0.5em;
    font-size: 0.75rem;
    padding: 0 0.125em;
  }
}