@use "./base/normalize";
@use "./base/mixins";
// @use "sass:math";
// @use "sass:color";
@use "./base/init";

.circle-progress-bar {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mysvg {
  $_full-bar-in-px: 880px;
  $_bar-in-procents: 85;
  transform: rotate(-90deg);
  transform-origin: center;

  .bar {
    // stroke-dasharray: $_bar-in-procents * $_full-bar-in-px/100 2000;
  }

}

.procent {
  position: absolute;
  font-size: 34px;
  color: rgb(8, 0, 114);
  // top: 50%;
}