@use "./base/normalize";
@use "./base/mixins";
// @use "sass:math";
// @use "sass:color";
@use "./base/init";

// .section-3 {}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  background: lightgray url("https://puzzleit.ru/files/puzzles/166/165674/_original.jpg") bottom right / cover no-repeat;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    // background: linear-gradient(to top, #333, #ccc, #333);
    background: rgb(62, 62, 62);
    opacity: 0.7;
    display: block;
    height: 100%;
    width: 100%;
  }

  div {
    position: relative;
  }
}

.column-left {
  background-color: rgba(52, 52, 52, 1);
  z-index: 1;
}

.column-middle {
  background-color: #ffffff;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 100%, 50% 50%, 0% 0%);
  left: -50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  z-index: 2;


  .title {
    position: relative;
    font-size: 3vw;
    left: 20%;
  }

  .text {
    position: relative;
    left: 30%;
    margin: 12px;
    font: normal 400 mixins.rem(20)/mixins.rem(26) Roboto;
    max-width: 250px;
  }

  .text:nth-child(2) {
    left: 37%;
  }

  .text:nth-child(3) {
    left: 54%;
  }

  .text:nth-child(4) {
    left: 37%;
  }

  .text:nth-child(5) {
    left: 18%;
  }
}