@use "sass:math";

// @include font_face('Roboto-Regular','../fonts/Roboto-Regular', 400, normal)
@mixin font_face($font_name, $font_path, $font_weight, $font_style) {
    @font-face {
        font-family: $font_name;
        src: local($font_name), url($font_path + ".woff2") format("woff2"), url($font_path + ".woff") format("woff");
        font-display: swap;
        font-style: $font_style;
        font-weight: $font_weight;
    }
}

@function percent($px, $from) {
    $result: math.div($px, $from) * 100%;
    @return $result;
}

// 1 rem = font-size корневого (root) элемента <html> или настройки шрифта браузера, по умолч = 16px
@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result;
}

// 1 em = font-size текущего/наследуемого шрифта
@function em($px, $current: 16) {
    $result: math.div($px, $current) + em;
    @return $result;
}

@function adaptiv-value($maxV, $minV, $maxW, $minW) {
    $diff_value: $maxV - $minV;
    $diff_width: $maxW - $minW;
    $result: calc(#{$minV + px} + #{$diff_value} * ((100vw - #{$minW + px}) / #{$diff_width}));
    @return $result;
}
